<div class="chatroom-message" id="message-<%= message.id %>">

  <div class="messages-avatar">
    <% if message.user.photo.attached? %>
      <%= cl_image_tag message.user.photo.key %>
    <% else %>
      <%= image_tag "default" %>
    <% end %>
  </div>

  <div class="messages-words">
    <p class="timestamp"><%= message.created_at.strftime("%e %b, %H:%M") %></p>
    <p class="message-content"><%= message.content %></p>
  </div>


</div>
