
<div class="col-6 chatroom-container">

<div class="shrine" data-controller="shrine-subscription" data-shrine-subscription-shrine-id-value="<%= @shrine.id %>">

  <div class = "chat-header">
    <h1>Space to chat about <%= @shrine.first_name %></h1>
  </div>

  <div class="messages-container" data-shrine-subscription-target="messages">
    <% @shrine.messages.each do |message| %>
      <% if message.user == current_user %>
        <%= render "user_message", message: message %>
      <% else %>
        <%= render "message", message: message %>
      <% end %>
    <% end %>
  </div>

  <div class="chatroom-input-container">
    <%= simple_form_for [@shrine, @message], html: { data: { action: "turbo:submit-end->shrine-subscription#resetForm" }, class: "d-flex"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Add your message here", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-shrine mb-3" %>
    <% end %>
  </div>

</div>

</div>
