<h1><%= @shrine.name %> Chatroom</h1>

<div class="messages">
  <% @shrine.messages.each do |message| %>
    <div id="message-<%= message.id %>">
      <small>
        <strong><%= message.user.name %></strong>
        <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>
