<h1>Your Shrines</h1>

<ul>
  <% @shrines.each do |shrine| %>
      <li><%= link_to "#{shrine.first_name.capitalize} #{shrine.family_name.capitalize}", shrine_path(shrine) %>: <%= shrine.dob %> - <%= shrine.dod %></li>
      <%= link_to "Edit", edit_shrine_path(shrine) %>
      <%= link_to "Delete", shrine_path(shrine), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</ul>

<%= link_to "Create a Shrine", new_shrine_path %>
<%= link_to "Join a Shrine", shrines_path %>
