<div class="back-cont d-flex flex-column justify-content-between align-items-center" style="min-height: calc(100vh - 70px);">
  <div class="cool-box d-flex">
    <%= image_tag "logo.png", class: "cool-logo"%>
    <h1 id="cool-title">Your shrines</h1>
  </div>
  <% unless @invites.empty? %>
    <div class="swiper" id="swiper">
      <div class="swiper-wrapper">
        <% @shrines.each_with_index do |shrine, index| %>
            <div class="card swiper-slide">
              <%= link_to shrine_path(shrine) do %>
              <% if shrine.photo.attached? %>
                <%= image_tag shrine.photo, class: "card-img-top", height: 250%>
              <% else %>
                <%= image_tag "johnyoung2", class: "card-img-top", height: 250%>
              <% end %>
              <div class="card-body">
                <br>
                <br>
                <h5 class="card-title"><%= "#{shrine.first_name.capitalize} #{shrine.family_name.capitalize}" %></h5>
                <br>
                <h6> <%= shrine.dob.year %> &nbsp - &nbsp  <%= shrine.dod.year %> </h6>
                <br>
              </div>
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  <% else %>
    <div class='d-flex align-items-center'>
      <div>
        <h1>You have no shrines, lucky person!</h1>
      </div>
    </div>
  <% end %>
  <script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js'

    const swiper = new Swiper('.swiper', {
      // Optional parameters
    direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
  </script>

  <div class="cool-footer d-flex justify-content-evenly align-items-center">
  <%= link_to "Create a Shrine", new_shrine_path, class:"bottom-link" %>
  <p class="pin">|</p>
  <%= link_to "Review Invites", shrine_users_path, class:"bottom-link" %>
  </div>
</div>
