<h1>Your Shrines</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @shrines.each_with_index do |shrine, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <div class="d-block w-100">
          <%= image_tag(shrine.photo) %>
          <h2><%= link_to shrine.name.capitalize, shrine_path(shrine) %>: <%= shrine.dob %> - <%= shrine.dod %></h2>
          <%= link_to "Edit", edit_shrine_path(shrine) %>
          <%= link_to "Delete", shrine_path(shrine), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<%= link_to "Create a Shrine", new_shrine_path %>
<%= link_to "Join a Shrine", shrines_path %>
