<h1><%= @shrine.name.capitalize %>'s Shrine</h1>

<ul>
  <li><%= @shrine.name.capitalize %></li>
  <li>Biography</li>
  <li><%= link_to "Timeline", shrine_chapters_path(@shrine) %></li>
  <li><%= link_to "Chatroom", shrine_messages_path(@shrine) %></li>
  <li><%= link_to "Invite",  new_shrine_shrine_user_path(@shrine)%></li>
</ul>
