<div class = "card-container">
  <div class = "photo-bio-card">
    <div class = "photocard">
      <%= image_tag @shrine.photo, class: "shrine-img-top" %>
        <div class = "id-tag">
          <h2><%= "#{@shrine.first_name.capitalize} #{@shrine.family_name.capitalize}" %></h2>
          <h4><%= "#{@shrine.dob.year} - #{@shrine.dod.year}" %></h4>
        </div>
    </div>
    <div class = "biocard">
      <p><%= @shrine.biography %></p>
    </div>
  </div>
  <a href="<%= shrine_chapters_path(@shrine) %>" class="card-link">
    <div class = "timelinecard">
      <h4><%= "#{@shrine.first_name}'s Timeline"  %> </h4>
      <%= image_tag "timeline.png", style: 'width: 7rem; height:5.5rem' %>
    </div>
  </a>
  <a href="<%= members_path(@shrine) %>" class="card-link">
    <div class = "members">
      <h5> Shrine Members </h5>
      <%= image_tag "family.png", style: 'width: 3.5rem; height:3.5rem' %>
    </div>
  </a>
  <a href="<%= new_shrine_shrine_user_path(@shrine) %>" class="card-link">
    <div class = "invitecard">
      <h5>Invite</h5>
    </div>
  </a>
</div>
