<div class = "card-container">
  <div class = "photocard">
    <%= image_tag @shrine.photo, class: "shrine-img-top" %>
      <div class = "id-tag">
        <h2><%= "#{@shrine.first_name.capitalize} #{@shrine.family_name.capitalize}" %></h2>
        <h4><%= "#{@shrine.dob.year} - #{@shrine.dod.year}" %></h4>
      </div>
  </div>
  <div class = "biocard row">
    <h4><%="#{@shrine.first_name.capitalize}'s Biography"%></h4>
    <p><%= @shrine.biography %></p>
  </div>
  <a href="<%= shrine_chapters_path(@shrine) %>" class="card-link">
    <div class = "timelinecard row">
    <h1>Timeline</h1>
    </div>
  </a>
  <div class="flex-container">
    <a href="<%= shrine_messages_path(@shrine) %>" class="card-link">
      <div class = "squarecard flex-item">
        <h4>Chatroom</h4>
      </div>
    </a>
    <div class = "squarecard flex-item">
      <h4>Photos</h4>
    </div>
  </div>
  <a href="<%= new_shrine_shrine_user_path(@shrine) %>" class="card-link">
    <div class = "invitecard row">
      <h5>Invite</h5>
    </div>
  </a>
</div>
