<div class = "card-container">
  <div class = "photo-bio-card">
    <div class = "photocard">
      <%= image_tag @shrine.photo, class: "shrine-img-top" %>
        <div class = "id-tag">
          <h2 class = "name-tag"><%= "#{@shrine.first_name.capitalize} #{@shrine.family_name.capitalize}" %></h2>
          <h4 class = "date-tag"><%= "#{@shrine.dob.year} - #{@shrine.dod.year}" %></h4>
        </div>
    </div>
    <div class = "biocard">
      <p><%= @shrine.biography %></p>
    </div>
  </div>

  <a href="<%= shrine_chapters_path(@shrine) %>" class="card-link">
    <div class = "timelinecard">
      <h4><%= "#{@shrine.first_name}'s Timeline"  %> </h4>
      <%= image_tag "timeline.png", style: 'width: 7rem; height:5.5rem' %>
    </div>
  </a>
  <a href="<%= members_path(@shrine) %>" class="card-link">
    <div class = "members">
      <h6> Shrine Members </h6>
      <%= image_tag "family.png", style: 'width: 3.5rem; height:3.5rem' %>
    </div>
  </a>
  <a href="#" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <div class = "invitecard">
      <h6>Invite</h6>
    </div>
  </a>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Shrine Invitation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
              <h2><%= "#{@shrine.first_name.capitalize} #{@shrine.family_name.capitalize}'s Shrine" %></h2>
              <div class="invite-form">
                <%= render "shared/search_form", shrine: [@shrine, @invite] %>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
