

<header class = "landing-page-header">

<div class = "header-inner">

  <div class = "header-logo">
    <%= image_tag "logo.png", class: "header-logo"%>
  </div>

  <div class = "header-logins">
    <%= link_to "Login", new_user_session_path, class: "mybutton button-link" %>
  </div>

</div>

</header>

<div class = "landing-page-container body-background">

  <div class = "main-landing-card">

    <div class = "landing-motto-container">

      <h1>Grieving is hard. </h1>
      <br>
      <h1>With Shrine, it's easier.</h1>

      <div class = "login-signup">
        <%= link_to "Sign up", new_user_registration_path, class: "mybutton button-link" %>
      </div>

    </div>

    <div class = "text-container">
    </div>

  </div>

  <div class = "landing-card-features">

    <div class = "feature">
      <h3>Create Shrines for your Loved Ones</h3>
      <div class = "feature-card">
        <div class = "feature-img-container left">
          <%= image_tag "my_shrines.jpg", class: "feature-img"%>
        </div>
        <div class = "vl-container">
          <div class = "vl"></div>
        </div>
        <div class = "feature-text right left">
          <p> Dedicate an everlasting space to the ones who touched your life, and create a home for their memories, stories and experiences. </p>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Invite your family and friends and build your community</h3>
      <div class = "feature-card">
        <div class = "feature-text left right">
          <p> Bring people together around your Shrine, and invite others to share their memories with your ever-growing community. </p>
        </div>
        <div class = "vl-container">
          <div class = "vl"></div>
        </div>
        <div class = "feature-img-container right">
          <%= image_tag "members.jpg", class: "feature-img"%>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Build a vivid timeline of their life</h3>
      <div class = "feature-card">
        <div class = "feature-img-container left">
          <%= image_tag "timeline.jpg", class: "feature-img"%>
        </div>
        <div class = "vl-container">
          <div class = "vl"></div>
        </div>
        <div class = "feature-text right left">
          <p> Tell their tale as you create and curate chapters of their life, preserving their achievements for everyone to see.</p>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Share the stories that made them special</h3>
      <div class = "feature-card">
        <div class = "feature-text right left">
          <p> Fill out their chapters with your own memories and recollections, and share the stories that you wish everyone else already knew.</p>
        </div>
        <div class = "vl-container">
          <div class = "vl"></div>
        </div>
        <div class = "feature-img-container right">
          <%= image_tag "chapter.jpg", class: "feature-img"%>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Speak with the people they brought together</h3>
      <div class = "feature-card">
        <div class = "feature-img-container left">
          <%= image_tag "chat.jpg", class: "feature-img"%>
        </div>
        <div class = "vl-container">
          <div class = "vl"></div>
        </div>
        <div class = "feature-text right left">
          <p> Chat with members of your Shrine, and keep their spirit alive amongst the community they touched. </p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class = "home-footer">
  <div class = "home-footer-text-intro">
    Shrine is shaped with care by:
  </div>
  <div class = "home-footer-content">
    <div class = "footer-author-details">
      <div class = "home-footer-name">
        Hasna Begum
      </div>
      <div class = "home-footer-icons">
        <a href = "https://github.com/hb-23">
          <i class = "fab fa-github"> </i>
        </a>
        <a href = "https://uk.linkedin.com/in/hasna-begum-77314414a">
          <i class = "fab fa-linkedin"> </i>
        </a>
      </div>
    </div>

    <div class = "footer-author-details">
      <div class = "home-footer-name">
        Jamie Graham
      </div>
      <div class = "home-footer-icons">
        <a href = "https://github.com/jamiestacks">
          <i class = "fab fa-github"> </i>
        </a>
        <a href = "https://uk.linkedin.com/in/jamie-graham-27229716a">
          <i class = "fab fa-linkedin"> </i>
        </a>
      </div>
    </div>

    <div class = "footer-author-details">
      <div class = "home-footer-name">
        Eduardo Guerrero
      </div>
      <div class = "home-footer-icons">
        <a href = "https://github.com/Educat83">
          <i class = "fab fa-github"> </i>
        </a>
        <a href = "https://uk.linkedin.com/in/eduardo-guerrero-55b82310b">
          <i class = "fab fa-linkedin"> </i>
        </a>
      </div>
    </div>

    <div class = "footer-author-details">
      <div class = "home-footer-name">
        Max Martinez
      </div>
      <div class = "home-footer-icons">
        <a href = "https://github.com/maximartinez4">
          <i class = "fab fa-github"> </i>
        </a>
        <a href = "https://uk.linkedin.com/in/maximartinez">
          <i class = "fab fa-linkedin"> </i>
        </a>
      </div>
    </div>
</div>


<%#
<div class="d-flex flex-column align-items-center body-background" style="min-height: calc(100vh - 70px);">
  <div class="cool-box2 d-flex flex-column align-items-center">
    <%= image_tag "logo.png", class: "cool-logo"
    <div>
      <h1 class="cool-title">Shrine</h1>
    </div>
    <br>
    <div class = "align-items-center text-align-center">
      <p>Grieving is hard. With Shrine, it's easier.</p>
    </div>
  </div>


  <div class="d-flex align-items-center">

    <%= link_to "Login", new_user_session_path, class: "mybutton button-link"
  </div>


  <div class="d-flex">

    <%= link_to "Sign up", new_user_registration_path, class: "mybutton button-link"
  </div>

    <div class="d-flex home-footer"><p>Shrine connects families and preserves memories. Keep those who meant so much to you alive by celebrating them together. </p>
</div>
</div>
%>
