

<header class = "landing-page-header">

<div class = "header-inner">

  <div class = "header-logo">
    <%= image_tag "logo.png", class: "header-logo"%>
  </div>

  <div class = "header-logins">
    <%= link_to "Login", new_user_session_path, class: "mybutton button-link" %>
  </div>

</div>

</header>

<div class = "landing-page-container body-background">

  <div class = "main-landing-card">

    <div class = "landing-motto-container">

      <h1>Grieving is hard. </h1>
      <br>
      <h1>With Shrine, it's easier.</h1>

      <div class = "login-signup">
        <%= link_to "Sign up", new_user_registration_path, class: "mybutton button-link" %>
      </div>

    </div>

    <div class = "text-container">
    </div>

  </div>

  <div class = "landing-card-features">

    <div class = "feature">
      <h3>Create Shrines for your Loved Ones</h3>
      <div class = "feature-card">
        <%= image_tag "my_shrines.jpg", class: "feature-img left"%>
        <div class = "vl middle"></div>
        <div class = "feature-text right">
          <p> Dedicate a Shrine to your loved ones, and create a home for their stories and experiences. </p>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Invite your Friends and Family and build your community</h3>
      <div class = "feature-card">
        <%= image_tag "members.jpg", class: "feature-img right"%>
        <div class = "vl middle"></div>
        <div class = "feature-text left">
          <p> Bring people together through your shared memories, and expand the community of contributors to your Loved One's Shrine. </p>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Build a vivid timeline of their life</h3>
      <div class = "feature-card">
        <%= image_tag "timeline.jpg", class: "feature-img left"%>
        <div class = "vl middle"></div>
        <div class = "feature-text right">
          <p> Create Chapters of their life and help your community discover more about their journey</p>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Share your Stories with your community</h3>
      <div class = "feature-card">
        <%= image_tag "chapter.jpg", class: "feature-img right"%>
        <div class = "vl middle"></div>
        <div class = "feature-text left">
          <p> Create Chapters of their life and help your community discover more about their journey</p>
        </div>
      </div>
    </div>

    <div class = "feature">
      <h3>Chat with your community</h3>
      <div class = "feature-card">
        <%= image_tag "chat.jpg", class: "feature-img left"%>
        <div class = "vl middle"></div>
        <div class = "feature-text right">
          <p> Chat with your Shrine's community, and keep their spirit alive through the people they brought together. </p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class = "home-footer">

  <div class = "footer-icons">
  </div>

  <div class = "footer-note">
  <p> Shrine was created by Eduardo Guerrero, Hasna Begum, Jamie Graham and Max Martinez. </p>
  </div>

</div>


<%#
<div class="d-flex flex-column align-items-center body-background" style="min-height: calc(100vh - 70px);">
  <div class="cool-box2 d-flex flex-column align-items-center">
    <%= image_tag "logo.png", class: "cool-logo"
    <div>
      <h1 class="cool-title">Shrine</h1>
    </div>
    <br>
    <div class = "align-items-center text-align-center">
      <p>Grieving is hard. With Shrine, it's easier.</p>
    </div>
  </div>


  <div class="d-flex align-items-center">

    <%= link_to "Login", new_user_session_path, class: "mybutton button-link"
  </div>


  <div class="d-flex">

    <%= link_to "Sign up", new_user_registration_path, class: "mybutton button-link"
  </div>

    <div class="d-flex home-footer"><p>Shrine connects families and preserves memories. Keep those who meant so much to you alive by celebrating them together. </p>
</div>
</div>
%>
