
<div class="cool-box2">

<% if @invites.count == 0 %>
    <h1>Invites to shrines</h1>
    <p>You don't have any pending invitations</p>
  <% elsif @invites.count == 1%>
    <h1>You have an invitation</h1>
    <% @invites.each do |invite| %>
      <ol>
        <li>You have being invited to <%= invite.shrine.first_name %> <%= invite.shrine.family_name %> Shrine
          <%= link_to "Accept", shrine_user_path(invite.id, status: 'accept'), data: {turbo_method: :patch } %>
          <%= link_to "Decline", shrine_user_path(invite.id, status: 'decline'), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %>
        </li>
      </ol>
    <% end %>
    <% else %>
    <h1>You have invitations</h1>
    <% @invites.each do |invite| %>
      <ol>
        <li>You have being invited to <%= invite.shrine.first_name %> <%= invite.shrine.family_name %> Shrine
          <%= link_to "Accept", shrine_user_path(invite.id, status: 'accept'), data: {turbo_method: :patch } %>
          <%= link_to "Decline", shrine_user_path(invite.id, status: 'decline'), data: {turbo_method: :patch, turbo_confirm: "Are you sure?"} %>
        </li>
      </ol>
    <% end %>
  <% end %>

</div>
