<div class="col-6 timeline-container" data-controller="timeline" data-action="scroll@window->timeline#blur" >

  <div class="timeline-header">
    <h2 class="timeline-header__title"><%= @shrine.first_name %> <%= @shrine.family_name %>'s Timeline</h2>
  </div>
  <div class="btn-new-chapter-container">
    <div class="new_chapter add-story" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <span><i class="fa-solid fa-plus"></i> Add a new chapter</span>
    </div>
  </div>

  <div class= "timeline">
    <% @orderedchapters.each do |chapter| %>
      <%= link_to chapter_path(chapter) do %>
        <div class="timeline-item" data-timeline-target="chapters">

          <span class="timeline-title">
            <h3><%= chapter.title %></h3>
          </span>


          <div class="timeline-content">

            <div class="timeline-image">
              <div class="filter"></div>
              <% if chapter.photo.attached? %>
                <%= cl_image_tag chapter.photo.key %>
              <% else %>
                <%= image_tag "default" %>
              <% end %>
            </div>


            <div class="timeline-date-icons">
              <div class="timeline-date">
                <%= chapter.date_start.strftime("%e %B %Y") %>
              </div>
              <div class="timeline-icons">
                <% photos = 0 %>
                <% chapter.stories.each do |story| %>
                  <% photos += story.photos.count %>
                <% end %>
                <span><i class="fa-regular fa-image"></i> <%= photos %></span>
                <span><i class="fa-solid fa-feather-pointed"></i><%= Story.where(chapter_id: chapter).count %></span>
              </div>
            </div>

            <div class="timeline-description">
              <p><%= chapter.description %></p>
            </div>

          </div>

        </div>
      <% end %>
    <% end %>
  </div>

</div>


<%# new chapter modal %>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a new Chapter</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [ @shrine, @chapter] do |f| %>
            <%= f.input :title %>
            <%= f.input :description, label: "Add a short description of this chapter" %>
            <div class="chapter-dates">
              <%= f.input :date_start, label: "Start Date", as: :string, input_html: { data: { controller: "datepicker",flatpickr_min_date: Time.zone.now }} %>
              <%= f.input :date_end, label: "End Date", as: :string, input_html: { data: { controller: "datepicker" } } %>
            </div>
            <%= f.input :photo, label: "Picture to represent this chapter", as: :file %>
            <%= f.submit "Create Chapter", class: "btn btn-modal" %>
          <% end %>
        </div>

    </div>
  </div>
</div>


<%# data-action="scroll@window->timeline#blur" %>
