<h1>New Chapter</h1>
<%= simple_form_for [@shrine, @chapter] do |f| %>
  <%= f.input :title %>
  <%= f.input :date_start, label: "Start Date", as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :date_end, label: "End Date", as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit "Create Chapter", class: "btn btn-primary" %>
<% end %>
